*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.icon{
    margin-right: 30px;
    color: orange;
    text-decoration: none;
}

.landing{
    background-image: url("villa.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color:white;
}

header a{
    text-decoration: none;
    color:black;
    min-width: 120px;
}

header{
    display: flex;
    padding: 1em;
    flex-wrap: wrap;
    row-gap: 1em;
}

.seperator{
    color: orange;
    margin-left: 80px;
}

#home{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.button{
    position: relative;
    left:42%;
}

#home > h1 {
    position: absolute;
    color: black;
    background-color:rgba(255, 165, 0, 0.8);
    bottom: 46%;
    padding: 30px;
    width: 50%;
    font-size: 1.6rem;
    text-decoration: none;
}

.villa{
    width: 75%;
    margin-bottom: 50px;
}

#logo{
    flex: 3;
    font-size: 1.2em;
    min-width: 260px;
}

.services{
    background-color: orange;
}

.best{
    position: relative;
    left: 5%;
    padding-top: 100px;
}

.agency{
    position: relative;
    left: 5%;
    text-decoration: none;
    font-size: 3.2rem;
}

.services > h1{
    margin: 50px;
    padding: 50px;
    position: relative;
    left: 34%;
    font-size: 1.7rem;
    color: black;
    text-decoration: none;
}

nav{
    flex: 2;
    display: flex;
    align-items: cpxenter;
}

#logo{
    flex: 3;
    font-size: 1.2em;
    min-width: 260px;
}

nav{
    flex: 2;
    display: flex;
    align-items: center;
}

nav a{
    flex: 1;
}

a:hover{
    color: goldenrod;
}

.maintext{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    padding: 2em;
    color: rgb(9, 255, 83); 
}

.first{
    font-weight:1000;
    height: 40px;
    width: 100vh;
}

.two{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    padding: 2em;
    font-style: oblique;
}

h1{
    color: orange;
    
    text-decoration: underline;
}

.para{
    justify-content: center;
    padding: 2em;
}

button{
    margin-left: 100px; 
    display: flex;
    justify-content: center;
    width: 20vw;
    border-radius: 10px;
    padding: .7em;
    background-color:goldenrod;
    color: black;
    border: 1px solid goldenrod;
}

.three{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 50px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.box a{
    text-align: center;
}

.box > button {
    text-align: center;
}

.button1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 100px;
}

.newprops{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.newprops > h1 {
    text-decoration: none;
    color: black;
}

.props{
    margin: 50px 0px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    gap: 30px;
}

.image > img{
    width: 450px;
}

.image > h3{
    text-align: left;
} 

.image > p{
    margin: 0px 90px;
}

.content{
    background-color: orange;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

.social{
    margin: 20px 10px;
}

.social ul, .contact ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;    
}

.footerlogo, footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
